<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no" />
  <link rel="shortcut icon" href="https://gw.alipayobjects.com/zos/rmsportal/yycNvsgpjmwRRvCfSfNy.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <title>
    饥荒 暴食 食谱速查表
  </title>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4425331914147837",
      enable_page_level_ads: true
    });
  </script>
</head>

<body>

  <div id="root"></div>

</body>

</html>